.tabla{
  background-color:white;
  border: 2px double rgba(11, 3, 126, 0.13);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.089);
}
.input {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border: 1px solid rgba(11, 3, 126, 0.13);
  border-radius: 0.5rem;
  margin-bottom:1.5rem;
  margin-top:1.5rem;
}
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #132484;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
.rojo {
  width: 2.5rem;
	height: 2.5rem;
  border-radius: 25%;
  background-image: linear-gradient(red, rgba(255, 0, 0, 0.692));
	display: flex;
	justify-content: center;
	align-items: center;
  text-align: center;
  box-shadow: 1.5px 1px 1px 1.5px rgba(255, 0, 0, 0.185);
}
.rojo:hover{
  width: 2.6rem;
  height: 2.6rem;
  opacity: 0.8;
  box-shadow: 2px 1px 1px 2px rgba(255, 0, 0, 0.185);
}
.verde {
  width: 2.5rem;
	height: 2.5rem;
  border-radius: 25%;
  background-image: linear-gradient(rgb(25, 223, 25), rgba(25, 223, 25, 0.692));
	display: flex;
	justify-content: center;
	align-items: center;
  text-align: center;
  box-shadow: 1.5px 1px 1px 1.5px rgba(25, 223, 25, 0.185);
}
.verde:hover{
  width: 2.6rem;
  height: 2.6rem;
  opacity: 0.8;
  box-shadow: 2px 1px 1px 2px rgba(25, 223, 25, 0.185);
}
i{
  font-size:1.5rem;
  color:white;
  opacity:0.7;
}